<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <title>PRW.STWR.Account</title>
    <link rel="stylesheet" th:href="@{/styles/login.css}">
    <script th:src="@{/js/jquery-3.6.1.min.js}"></script>
    <script th:src="@{/js/account.js}"></script>
</head>
<body>
	
	<div id="form-container">
		
		<form method="POST" th:action="@{/updateuser}" id="account-form">
			<h5 id="h5-register" th:text="${#authentication.name}"></h5>
		    
		    <label for="password">Contraseña</label>
		    <input type="password" id="password" name="password" placeholder="Contraseña" th:value="${usuario.password}">
		    
		    <label for="email">Email</label>
		    <input type="email" id="email" name="email" placeholder="Email" th:value="${usuario.email}">
		    
			<label for="name">Nombre</label>
		    <input type="text" id="name" name="name" placeholder="Nombre" th:value="${usuario.name}">
		    
		    <label for="firstSurName">Primer Apellido</label>
		    <input type="text" id="firstSurName" name="firstSurName" placeholder="P. Apellido" th:value="${usuario.firstSurName}">
		    
		    <label for="secondSurName">Segundo Apellido</label>
		    <input type="text" id="secondSurName" name="secondSurName" placeholder="S. Apellido" th:value="${usuario.secondSurName}">
			
		    <button type="button" id="button-register" class="button-register">Actualizar Información</button>
			<button type="button" id="button-back" class="button-back" onclick="window.location.href='/'">Volver</button>
			
			<input type="hidden" name="idUsuario" th:value="${usuario.idUser}">
		</form>
		
	</div>
</body>
</html>