<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <title>PRW.STWR.Campaign</title>
    <link rel="stylesheet" th:href="@{/styles/campaign.css}">
    <script th:src="@{/js/jquery-3.6.1.min.js}"></script>
    <script th:src="@{/js/campaign.js}"></script>
</head>
<body>
	<div id="form-campaign">
		
		<form th:action="@{/processFormCampaign}" method="POST" id="campaignForm">
			
			<h5 id="h5-campaign">NUEVA CAMPAÑA</h5>
			
			<label for="campaignName">Nombre de campaña</label>
            <input type="text" id="campaignName" name="campaignName">
            
            <label for="galaxy">Galaxia</label>
            <select name="galaxy" id="galaxySelect" required>
                <option th:each="galaxy : ${listaGalaxias}" th:value="${galaxy.idGalaxy}" th:text="${galaxy.galaxyName}"></option>
            </select>
            
            <label for="region">Region</label>
			<select name="region" id="regionSelect" required>
		        <option th:each="region : ${listaRegiones}" th:value="${region.idRegion}" th:text="${region.regionName}"></option>
		 	</select>

           <label for="planet">Planeta</label>
			<select name="planet" id="planetSelect" required onchange="updatePlanets()">
			    <option th:each="planet : ${listaPlanetas}"  th:value="${planet.idPlanet}" th:text="${planet.planetName}"></option>  
			</select>

            <label for="territory">Territorio</label>
            <select name="territory" id="territorySelect" required>
                <option th:each="territory : ${listaTerritorios}" th:value="${territory.idTerritory}" th:text="${territory.territoryName}"></option>
            </select>
            
            <button type="button" id="register-campaign">Crear</button>
            <button type="button" id="button-back" class="button-back" onclick="window.location.href='/character-creator'">Volver</button>
            
		</form>
	</div>
	
	<div id="img-region" th:style="'background-image: url(../img/planet/region-' + ${listaRegiones.get(0).getIdRegion()} + '.jpg);'"></div>
    
    <script>
	    document.getElementById('regionSelect').addEventListener('change', function() {
	        var selectedRegionId = this.value;
	        document.getElementById('img-region').style.backgroundImage = 'url(../img/planet/region-' + selectedRegionId + '.jpg)';
	    });	    
	</script>
</body>
</html>