<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <title>PRW.STWR.CharacterCreation</title>
    <link rel="stylesheet" th:href="@{./styles/charactercreator.css}">
    <script th:src="@{/js/jquery-3.6.1.min.js}"></script>
     <script th:src="@{/js/character.js}"></script>
</head>
<body>
	
	<div id="form-character">
		<form th:action="@{/processCharacterForm}" method="POST" id="characterForm">
			
			<h5 id="h5-character">CREACIÓN DE PERSONAJE</h5>
			
			<label for="characterName">Nombre de personaje</label>
            <input type="text" id="characterName" name="characterName" required>
            
            <label for="charRace">Raza</label>
            <select name="charRace" id="charRaceSelect" required>
                <option th:each="race : ${listaRazas}" th:value="${race.idCharacterRace}" th:text="${race.characterRaceName}"></option>
            </select>
            
            <label for="charRaceSkill">Skill de Raza</label>
			<select name="charRaceSkill" id="charRaceSkillSelect" required>
			    <option th:each="skill : ${listaSkillRaza}" th:value="${skill.idChRaceSkill}" th:text="${skill.chRaceSkillName}"></option>
			</select>

            <label for="charClass">Clase</label>
			<select name="charClass" id="charClassSelect" required>
		        <option th:each="class : ${listaClases}" th:value="${class.idChClass}" th:text="${class.chClassName}"></option>
		 	</select>
		 	
		 	<label for="charClassSkill">Skill de Clase</label>
			<select name="charClassSkill" id="charClassSkillSelect" required>
		        <option th:each="classSkill : ${listaSkillsClase}" th:value="${classSkill.idChClassSkill}" th:text="${classSkill.chClassSkillName}"></option>
		 	</select>

            <button type="submit" id="register-character">Crear</button>
            <button type="button" id="button-back" class="button-back" th:onclick="'window.location.href=\'' + @{/index} + '\''">Volver</button>
		</form>
	</div>
	
    <div id="img-character" th:style="'background-image: url(../img/character/char-' + ${listaRazas.get(0).getIdCharacterRace()} + '.jpg);'"></div>
    
    <script>
		
	    document.getElementById('charRaceSelect').addEventListener('change', function() {
	        // Obtengo el valor seleccionado
	        var selectedRaceId = this.value;
	        // Lo actualizo dinamicamente según la raza seleccionada
	        document.getElementById('img-character').style.backgroundImage = 'url(../img/character/char-' + selectedRaceId + '.jpg)';
	    });
	</script>
	
</body>
</html>