<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <title>PRW.STWR.Forum</title>
    <link rel="stylesheet" th:href="@{/styles/index.css}">

</head>
<body>
	<a th:href="@{/}" id="back-arrow">
		
	</a>
	<div id="forum-container">
		<section class="section-content">
        <article>
          <h1>FORO DE LA COMUNIDAD </h1>
        </article>
      </section>
	</div>
	
</body>
</html>