<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <title>PRW.STWR.Login</title>
    <link rel="stylesheet" th:href="@{./styles/login.css}">
</head>
<body>
	
	<div id="form-container">
		
		<form method="POST" th:action="@{/login}">
			
			<h5 id="h5-login">LOGIN</h5>
			
			<div th:if="${param.error}" style="display: flex; color: rgb(216, 29, 29); justify-content: center; align-items: center;">
			    <div class="alert alert-danger" style="margin: auto;">Usuario o contraseña no válido/a</div>
			</div>

		    <label for="username">Usuario</label>
		    <input type="text" id="username" name="username" placeholder="Nombre de usuario" required>
		    
		    <label for="password">Contraseña</label>
		    <input type="password" id="password" name="password" placeholder="Contraseña" required>
		    
		    <div class="checkbox-container">
		        <input type="checkbox" id="rememberMe" name="rememberMe">
		        <label for="rememberMe">Recuerdame</label>
		    </div>
		    
		    <button type="submit" style="margin-bottom: 1rem;" id="btn-login">Iniciar Sesión</button>

		    <a href="#">¿Olvidaste tu contraseña?</a>

		    <p>¿No tienes cuenta? <a th:href="@{/register}" id="btn-register">Regístrate aquí.</a></p>
		    <button type="button" th:onclick="'window.location.href=\'' + @{/index} + '\''">Volver</button>
	
	</div>
	
</body>
</html>