<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRW.STWR.RebelRealms:ForceHeroesCampaigns</title>
    <script th:src="@{/js/jquery-3.6.1.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</head>
<body>
    <header>
        <div id="nav-container">
            <nav id="nav-menu">
                <ul id="top-menu">
                    <li><a th:href="@{/campaign}">Campaña</a></li>
                    <li><a href="#">Comunidad</a></li>
                    <li><a href="#">Información del juego</a></li>
                    <li><a th:href="@{/login}" id="btn-login">Iniciar Sesión</a></li>
                </ul>
            </nav>
        </div>
	</header>
	<div id="form-charge"></div>
    <section class="section-content">
        <article>
          <h1>Rebel Realms: Force Heroes Campaigns </h1>
          <br>
          <p>¡Forja tu propia aventura!</p>
        </article>
      </section>
</body>
</html>