*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -ms-overflow-style: none;
    height: 100vh;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/background/fondo-campaign.jpg');
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
    background-color: #3d3d3d;
}

#h5-campaign {
    margin: 0;
    z-index: 1000;
    display: flex;
    width: 100%;
    top: 0;
    font-size: xx-large;
    color: #f6f6f6;
    text-shadow: 2px 2px 3px rgb(29, 29, 29);
    text-align: center;
    justify-content: center;
}


#form-campaign {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    min-width: 50%;
    max-width: 80%;
}

form {
    width: 400px;
    height: auto;
    min-width: 100%;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;
    backdrop-filter: blur(15px);
    -webkit-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.75);
    z-index: 1000;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #f6f6f6;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #5d5d5d;
    border-radius: 4px;
    background-color: #3d3d3d;
    color: #f6f6f6;
}

select {
	width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #5d5d5d;
    border-radius: 4px;
    background-color: #3d3d3d;
    color: #f6f6f6;
    font-size: 14px;
    height: 2.4rem; 
    align-content: center;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #3e849c;
    color: #f6f6f6;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: all 1s;
}

button:hover {
	transform: scale(1.01);
    background-color: #f6f6f6;
    color: #3d3d3d;
    -webkit-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.75);
}

p {
    color: #f6f6f6;
    text-decoration: none;
    font-size: 14px;
}

.registro {
    justify-self: right;
}

input::placeholder {
    font-weight: 600;
}

.checkbox-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 8px;
}

.checkbox-container label {
    margin-right: 70%;
    width: 150px;
}

.checkbox-container input {
    margin-left: 8px;
}

#register-campaign {
    margin-bottom: 1rem;
}

#register-campaign:hover {
   	background-color: #b0911e;
   	color: #f6f6f6;
}

#img-region{
	width: 350px;
    height: 587px;
	border-radius: 8px;
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
    background-color: rgb(22, 22, 22);
    margin-left: 1rem;
    -webkit-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.75);
}
