
*,
*::before,
*::after{
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html,
body {
	margin: 0;
	padding: 0;
	color: #f6f6f6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -ms-overflow-style: none;
    height: 100vh;
    overflow-y: hidden;
    background-color: #3d3d3d;
}

header {
    margin: 0;
    position: fixed;
    z-index: 1000;
    display: flex;
    width: 100%;
    height: 4rem;
    top: 0;
    justify-content: space-evenly;
}

li {
    list-style: none;
    display: inline-block;
    margin-top: 0.6rem;
}

.nav-container {
    width: 100%;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow: hidden;
}

a {
    color: #f6f6f6;
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: 600;
    padding-inline: 1rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    transition: all 1.2s;
    position: relative;
}

a:visited {
    color: #f6f6f6;
}

nav a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.25rem;
    background-color:#f6f6f6;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s ease-in-out;
    filter: blur(0.2px);
    z-index: 999;
}

nav a:hover::before {
    color: #f6f6f6;
    transform-origin: left;
    transform-style: flat;
    transform: scaleX(1);
    filter: blur(0.2px);
    z-index: 999;
}

#nav-menu {
	display: flex;
    margin-top: 1rem;
    min-width: 100%;
}

#top-menu {
	margin-top: 1rem;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
	gap: 3rem;
}

#top-menu li {
    margin-top: 0.6rem;
    flex-grow: 1;
    text-align: center;
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0;
  	padding: 0;
    min-width: 105%;
    min-height: 105%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: visible;
    filter: grayscale(70%) blur(1.2px);
}

.video-container{
 	width: 100%;
  	height: 100%;
  	z-index: 999;
}

section{
	position: fixed;
	right: 0;
    bottom: 0;
    margin: 0;
  	padding: 0;
    min-width: 100%;
    min-height: 100%;
	width: auto;
	height: auto;
	color: #f6f6f6;
	text-shadow: 2px 2px 3px rgb(29, 29, 29);
}

.section-content{
	margin-top: 40%;
    display: flex;
    flex-direction: column;
    height: 10rem;
    margin-top: 50px;
    text-align: center;
    flex-grow: 1;
    justify-content: center;
}

.section-content h1{
    font-size: 4.5rem;
    font-weight: 700;
    filter: blur(0.2px);
}

.section-content p {
    font-size: 2rem;
    font-weight: 600;
    filter: blur(0.2px);
}

#back-arrow {
	margin: 1rem;
	z-index: 1003;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: #f6f6f6;
	background-image: url('../img/ui/left-arrow.png');
	background-position: center;
	background-size: auto;
	background-repeat: no-repeat;
	display: block;
}

#back-arrow:hover {
	transform: scale(1.1);
	transition: all 1s;
	background-color: #b0911e;
	filter: drop-shadow(50);
	-webkit-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.75);
}